@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_conteiner{
    display: grid;
    grid-template-areas: 
    "header"
    "box";
}

.header{
    grid-area: header;
    position: sticky;
    background-color: black;
    height: 100%;
}


.boxheader{
    display: grid;
    width: 190px;
    grid-template-areas: 
    "box_hea_logo1"
    "box_hea_logo2";
}


.box_hea_logo1{
    grid-area: box_hea_logo1;
    width: 190px;
    height: 250px;
}

.img_logo{
    margin-left: 80px;
    margin-top: 30px;
    width: 55%;
    height: 40%;
}

.text_logo{
    margin-top: 40px;
    margin-left: 45px;
    width: 160px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-family: ADLaM Display;
    line-height: 1.7;
}

.pa_logo{
    color: white;
    
}



.box_hea_logo2{
    grid-area: box_hea_logo2;
}

.box_hea_logo2{
    display: grid;
    grid-template-areas: 
    "ul_head";
}

.ul_head{
    margin-top: 10px;
    margin-left: 25px;
    grid-area: ul_head;
    width: 220px;
}

.jea_li{
    text-align: center;
    color: rgb(190, 188, 188);
    line-height: 2;
    list-style: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: ADLaM Display;
    cursor: pointer;
}

.jea_li:hover{
    color: white;
}

@media(min-width:800px){
    .box_hea_logo2{
        grid-template: 
        "ul_head";
    }
}

.box{
    grid-area: box;
    overflow: auto;
}

@media(min-width:1200px){
    .main_conteiner{
        grid-template: 
        "header box" 100vh/
        22% auto;
    }
}


/*zona del grip generando la estructura general de la plana alzheimer*/

.mainbox{
    display: grid;
    margin-left: 60px;
    gap: 10px;
    width: 90%;
    height: 1120px;
    grid-template-areas: 
    "box_1"
    "box_2"
    "box_3"
    "box_4";
}

.box_1{
    grid-area: box_1;
}

.box_2{
    grid-area: box_2;
}

.box_3{
    grid-area: box_3;
    width: 430px;
}

.box_4{
    grid-area: box_4;
}

@media(min-width:800px){
    .mainbox{
        grid-template: 
        "box_1 box_1" 170px
        "box_2 box_3" 830px
        "box_4 box_4" 100px;
    }
}


/*desarrollo el bloque número uno título y linea baja*/

.main_tt{
    margin-top: 90px;
    text-align: center;
    font-family: ADLaM Display;
    font-size: 28px;
    margin-left: 12px;
    font-weight:600;
    color: #393939;
}

.linea1{
    display: block;
    margin: auto;
    margin-top: -10px;
    width: 70px;
    height: 2px;
    background-color: rgb(32, 198, 240);
}

/*generando la division del bloque de imagenes principal*/

.box_2{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "imgbox1"
    "imgbox2";
}

.imgbox1{
    grid-area: imgbox1;
    width: 450px;
}

.img_1{
    width: 100%;
    height: 95%;
}

.imgbox2{
    grid-area: imgbox2;
    width: 450px;
}

.relojSillon{
    width: 100%;
    height: 100%;
}

@media(min-width:800px){
    .box_2{
    grid-template: 
    "imgbox1"330px 
    "imgbox2" 490px;
    }
}

/*bloque 3 configuracion texto lateral más imagen*/

.box_3{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "text1"
    "text_img";
}

.text1{
    grid-area: text1;
    width: 430px;
}



.text_img{
    grid-area: text_img;
    width: 430px;
}

@media(min-width:800px){
    .box_3{
        grid-template: 
        "text1" 500px
        "text_img" 320px;
    }
}


/*desglose de los textos del bloque lateral*/

.text1{
    display: grid;
    grid-template-areas: 
    "textos1"
    "textos2"
    "textos3"
    "textos4";
}


.textos1{
    grid-area: textos1;
    margin-top: -20px;
}

.textt1{
    margin-top: 30px;
    letter-spacing:1px;
    color: #393939;
    font-size: 13px;
    font-weight: 800;
    font-family: ADLaM Display;
    line-height: 1.7;
}

.textos2{
    grid-area: textos2;
}   

.textt2{
    letter-spacing:1px;
    color: #393939;
    font-size: 14px;
    font-weight: 600;
    font-family: ADLaM Display;
    line-height: 1.7;
}

.textos3{
    grid-area: textos3;
}

.textt3{
    letter-spacing:1px;
    color: #393939;
    font-size: 14px;
    font-weight: 600;
    font-family: ADLaM Display;
    line-height: 1.7;
}

.textos4{
    grid-area: textos4;
}


.textt4{
    letter-spacing:1px;
    color: #393939;
    font-size: 14px;
    font-weight: 600;
    font-family: ADLaM Display;
    line-height: 1.7;
}

@media(min-width:800px){
    .text1{
        grid-template: 
        "textos1" 20%
        "textos2"
        "textos3"
        "textos4";
    }
}

@media(max-width:799px){

    .textos1{
        width: 85%;
    }

    .textos2{
        margin-top: 5%;
        width: 90%;
    }

    .textos3{
        margin-top: 8%;
        width: 90%;
    }

    .textos4{
        margin-top: 8%;
        width: 90%;
    }

    .textt1{
        width: 90%;
        margin-left: 20px;
        text-align: justify;
        font-size: 11px;
    }

    .textt2{
        margin-top: 30px;
        margin: -10px;
        margin-left: 20px;
        width: 90%;
        font-size: 11px;
    }

    .textt3{
        margin: -10px;
        margin-left: 20px;
        width: 90%;
        font-size: 11px;
    }

    .textt4{
        margin: -10px;
        margin-left: 20px;
        width: 90%;
        font-size: 11px;
    }
}

/*configuración de la última imagen*/

.text_img{
    display: grid;
    grid-template-areas: 
    "imgfinal";
}

.imgfinal{
    grid-area: imgfinal;
    width: 430px;
}

.bibliFinal{
    margin-top: 38px;
    width: 100%;
    height: 87%;
}

@media(min-width:800px){
    .text_img{
        grid-template: 
        "imgfinal";
    }
}


/*footer*/

hr{
    display: block;
    margin-top: 30px;
    margin: auto;
    width: 75%;
}

.footer{
    margin-top: 20px;
    width: 98%;
    height: 55px;
}

.h5text{
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    color: #393939;
    font-weight: 300;
}

.textreservados{
    margin-top: 5px;
    width: 100%;
    height: 15px;
}

.derechos{
    margin-top: 4px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    color: #393939;
    font-weight: 300;
}

@media(max-width:799px){
    hr{
        margin-top: 40%;
    }
}