@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_conteiner{
    display: grid;
    grid-template-areas: 
    "header"
    "box";
}

.header{
    grid-area: header;
    position: sticky;
    background-color: black;
    height: 100%;
}

.boxheader{
    display: grid;
    width: 190px;
    grid-template-areas: 
    "box_hea_logo1"
    "box_hea_logo2";
}


.box_hea_logo1{
    grid-area: box_hea_logo1;
    width: 190px;
    height: 250px;
}

.img_logo{
    margin-left: 90px;
    margin-top: 40px;
    width: 55%;
    height: 40%;
}

.text_logo{
    margin-top: 20px;
    margin-left: 60px;
    width: 160px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-family: ADLaM Display;
    line-height: 1.7;
}

.pa_logo{
    color: white;
    
}

.box_hea_logo2{
    grid-area: box_hea_logo2;
}


.box_hea_logo2{
    display: grid;
    grid-template-areas: 
    "ul_head";
}

.ul_head{
    margin-top: 10px;
    margin-left: 25px;
    grid-area: ul_head;
    width: 220px;
}

.jea_li{
    text-align: center;
    color: rgb(190, 188, 188);
    line-height: 2;
    list-style: none;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    font-family: ADLaM Display;
    cursor: pointer;
}

.jea_li:hover{
    color: white;
}

@media(min-width:800px){
    .box_hea_logo2{
        grid-template: 
        "ul_head";
    }
}


@media(min-width:800px){
    .boxheader{
        grid-template: 
        "box_hea_logo1"
        "box_hea_logo2";
    }
}


.box{
    grid-area: box;
    overflow: auto;
}

@media(min-width:1200px){
    .main_conteiner{
        grid-template: 
        "header box" 100vh/
        22% auto;
    }
}


/*generando la estructura genrl de la página*/

.tt_gal{
    text-align: center;
    font-family: ADLaM Display;
}

.img_galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    width: 95%;
    margin: auto;
    gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.img_galeria > .objtv {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgb(109, 108, 108);
}


.img_galeria img{
    width: 100%;
    vertical-align: top;
    height: 400px;
    object-fit: cover;
    transition: transform 0.5s;
}


.img_galeria .objtv:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}


/*seccion del article*/


.box_lig{
    position: fixed;
    top: 20%;
    left: 10%;
    background: rgba(0,0,0,.5);
    transition: transform .4s ease-in-out;
    width: 100%;
    z-index: 1500;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.box_lig img{
    width: 65vw;
    max-height: 70vh;
}


.box_lig:target{
    transform: scale(1);
}

.close{
    display: block;
    margin-top: -500px;
    color: red;
    margin-left: 10px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.close:hover{
    color: white;
}


.next{
    display: block;
    background:black;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

.fa-solid{
    color: white;
}