@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_conteiner{
    display: grid;
    grid-template-areas: 
    "header"
    "box";
}

.header{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    position: sticky;
    background-color: black;
    height: 100%;
}

.boxheader{
    display: grid;
    width: 190px;
    grid-template-areas: 
    "box_hea_logo1"
    "box_hea_logo2";
}


.box_hea_logo1{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: box_hea_logo1;
    width: 190px;
    height: 250px;
}

.img_logo{
    margin-left: 90px;
    margin-top: 40px;
    width: 55%;
    height: 40%;
}

.text_logo{
    margin-top: 20px;
    margin-left: 60px;
    width: 160px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-family: ADLaM Display;
    line-height: 1.7;
}

.pa_logo{
    
    color: white;
    
}

.box_hea_logo2{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: box_hea_logo2;
}

.box_hea_logo2{
    display: grid;
    grid-template-areas: 
    "ul_head";
}

.ul_head{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    margin-top: 10px;
    margin-left: 25px;
    grid-area: ul_head;
    width: 220px;
}

.jea_li{
    text-align: center;
    color: rgb(190, 188, 188);
    line-height: 2;
    list-style: none;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: ADLaM Display;
    cursor: pointer;
}

.jea_li:hover{
    color: white;
}

@media(min-width:800px){
    .box_hea_logo2{
        grid-template: 
        "ul_head";
    }
    .ul_head{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
}

@media(min-width:800px){
    .boxheader{
        grid-template: 
        "box_hea_logo1"
        "box_hea_logo2";
    }
    .box_hea_logo1{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .box_hea_logo2{
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
}


.box{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: box;
    overflow: auto;
}

@media(min-width:1200px){
    .main_conteiner{
        grid-template: 
        "header box" 100vh/
        22% auto;
    }
    .header{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .box{
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
}

li{
    color: white;
}

/*generando separación de las cajas 4 cajas en total*/

.main_box{
    display: grid;
    gap: 10px;
    width: 100%;
    grid-template-areas: 
    "box1"
    "box2"
    "box3"
    "box4"
    "box5"
    "box6"
    "box7";
}

.box1{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: box1;
}

.box1{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "h1_txt"
    "parrafo";
}

.h1_txt{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: h1_txt;
    text-align: center;
    font-family: ADLaM Display;
    margin-top: 40px;
    
}

.parrafo{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: parrafo;
    margin-top: -20px;
}


.p_parra{
    text-align: center;
    font-size: 21px;
    font-family: ADLaM Display;
}

.box2{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: box2;
}

.box2{
    display: grid;
    gap: 10px;
    width: 100%;
    grid-template-areas: 
    "img_box"
    "text_ser";
}

.img_box{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img_box;
}

.text_ser{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: text_ser;
}

.p_text_serv{
    margin-top: 50px;
    width: 90%;
    text-align: justify;
    font-family: ADLaM Display;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.7;
}

.img_servicios{
    width: 100%;
    height: 400px;
}


@media(min-width:800px){
    .box2{
        grid-template: 
        "img_box text_ser"/
        60% 39%;
    }
    .img_box{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .text_ser{
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
}

.box3{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: box3;
}


.box4{
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: box4;
}

.box5{
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: box5;
}

.box6{
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    grid-area: box6;
}

.box7{
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    grid-area: box7;
}

@media(min-width:800px){
    .main_box{
        -moz-column-gap: 15px;
             column-gap: 15px;
        row-gap: 60px;
        grid-template: 
        "box1 box1" 160px
        "box2 box2"
        "box3 box4" 600px
        "box5 box6" 600px
        "box7 box7" 500px/
        50%;
    }
    .box1{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .box2{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .box3{
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    .box4{
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }
    .box5{
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
    .box6{
        -ms-grid-row: 7;
        -ms-grid-column: 3;
    }
    .box7{
        -ms-grid-row: 9;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
}


/*configurado box3*/

.box3{
    display: grid;
    gap: 5px;
    width: 100%;
    grid-template-areas: 
    "tt_box3"
    "img_3"
    "pa_text3";
}

.tt_box3{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: tt_box3;
    text-align: center;
    background-color: white;
}

.tt3_boxxx3{
    text-align: center;
    font-family: ADLaM Display;
}

.pa_text3{
    margin-top: 10px;
}

.pa_text_parrafo{
    width: 95%;
    margin-left: 11px;
    margin-top: 20px;
    text-align: justify;
    font-family: ADLaM Display;
    font-size: 13px;
    line-height: 1.7;
}

.img_3{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: img_3;
    width: 100%;
    height: 250px;
}

.pa_text3{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: pa_text3;
    width: 100%;
}



@media(min-width:800px){
    .box3{
        grid-template: 
        "tt_box3" 50px
        "img_3" 250px
        "pa_text3" 300px;
    }
    .tt_box3{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .img_3{
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .pa_text3{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
}



/*configurando box 4*/

.box4{
    display: grid;
    gap: 5px;
    width: 100%;
    grid-template-areas: 
    "tt_box4"
    "img_4"
    "pa_text4";
}

.tt_box4{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: tt_box4;
    text-align: center;
    background-color: white;
}


.tt4_boxxx4{
    text-align: center;
    font-family: ADLaM Display;
}


.pa_text4{
    margin-top: 10px;
}

.pa_text_parrafo4{
    width: 95%;
    margin-left: 11px;
    margin-top: 20px;
    text-align: justify;
    font-family: ADLaM Display;
    font-size: 13px;
    line-height: 1.7;
}


.img_4{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: img_4;
    width: 100%;
    height: 250px;
}

.pa_text4{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: pa_text4;
    width: 100%;
}

@media(min-width:800px){
    .box4{
        grid-template: 
        "tt_box4" 50px
        "img_4" 250px
        "pa_text4" 300px;
    }
    .tt_box4{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .img_4{
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .pa_text4{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
}


/*configurado contenido box5*/

.box5{
    display: grid;
    gap: 5px;
    width: 100%;
    grid-template-areas: 
    "tt_box5"
    "img_5"
    "pa_text5";
}

.tt_box5{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: tt_box5;
    text-align: center;
    background-color: white;
}


.tt5_boxxx5{
    text-align: center;
    font-family: ADLaM Display;
}


.pa_text5{
    margin-top: 10px;
}

.pa_text_parrafo5{
    width: 95%;
    margin-left: 11px;
    margin-top: 20px;
    text-align: justify;
    font-family: ADLaM Display;
    font-size: 13px;
    line-height: 1.7;
}


.img_5{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: img_5;
    width: 100%;
    height: 250px;
}

.pa_text5{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: pa_text5;
    width: 100%;
}

@media(min-width:800px){
    .box5{
        grid-template: 
        "tt_box5" 50px
        "img_5" 250px
        "pa_text5" 300px;
    }
    .tt_box5{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .img_5{
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .pa_text5{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
}

/*box 6 configurando contenido*/

.box6{
    display: grid;
    gap: 5px;
    width: 100%;
    grid-template-areas: 
    "tt_box6"
    "img_6"
    "pa_text6";
}

.tt_box6{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: tt_box6;
    text-align: center;
    background-color: white;
}


.tt6_boxxx6{
    text-align: center;
    font-family: ADLaM Display;
}


.pa_text6{
    margin-top: 10px;
}

.pa_text_parrafo6{
    width: 95%;
    margin-left: 11px;
    margin-top: 20px;
    text-align: justify;
    font-family: ADLaM Display;
    font-size: 13px;
    line-height: 1.7;
}


.img_6{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: img_6;
    width: 100%;
    height: 250px;
}

.pa_text6{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: pa_text6;
    width: 100%;
}

@media(min-width:800px){
    .box6{
        grid-template: 
        "tt_box6" 50px
        "img_6" 250px
        "pa_text6" 300px;
    }
    .tt_box6{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .img_6{
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .pa_text6{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
}


/*configurando seccion 7*/

.box7{
    display: grid;
    gap: 10px;
    width: 100%;
    grid-template-areas: 
    "box_7_1"
    "box_7_2";
}

.box_7_1{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: box_7_1;
    background-color: white;
}

.box_7_2{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: box_7_2;
    background-color: white;
}


/*maqueteando la subdivision 1 del box7*/

.box_7_1{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "tt_b7" 
    "caja1"
    "caja2"
    "caja3"
    "caja4";
}

.tt_b7{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: tt_b7;
}

.caja1{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: caja1;
}


.caja2{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: caja2;
}


.caja3{
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: caja3;
}

.caja4{
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: caja4;
}


@media(min-width:800px){
    .box_7_1{
        grid-template: 
        "tt_b7 tt_b7" 50px
        "caja1 caja2" 225px
        "caja3 caja4"225px/
        50% ;
    }
    .tt_b7{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .caja1{
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .caja2{
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .caja3{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .caja4{
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
}


@media(min-width:800px){
    .box7{
       grid-template: 
       "box_7_1 box_7_2"/
       50%; 
    }
    .box_7_1{
        -ms-grid-row: 1;
        -ms-grid-column: 1; 
    }
    .box_7_2{
        -ms-grid-row: 1;
        -ms-grid-column: 2; 
    }
}


.b_txt_7{
    margin-top: 4px;
    text-align: center;
    font-family: ADLaM Display;
}

.sub_text_foo_1, .parra_promocion1{
    margin-top: 15px;
    text-align: center;
    font-family: ADLaM Display;
}

.precio_1{
    text-align: center;
    font-size: 23px;
}

/*promocion 2*/

.sub_text_foo_2, .parra_promocion2{
    margin-top: 15px;
    text-align: center;
    font-family: ADLaM Display;
}

.precio_2{
    text-align: center;
    font-size: 23px;
}

/*promocion 3*/

.sub_text_foo_3, .parra_promocion3{
    margin-top: 15px;
    text-align: center;
    font-family: ADLaM Display;
}

.precio_3{
    text-align: center;
    font-size: 23px;
}

/*promocion 4*/

.sub_text_foo_4, .parra_promocion4{
    margin-top: 15px;
    text-align: center;
    font-family: ADLaM Display;
}

.precio_4{
    text-align: center;
    font-size: 23px;
}

/*responsive*/

@media(max-width:799px){
    .box1{
        width: 100%;
        height: 400px;
    }

    .box2{
        width: 100%;
        height: 800px;
    }

    .img_servicios{
        width: 100%;
        height: 350px;
        margin-left: 5px;
    }


    .text_ser{
        width: 100%;
        margin-left: 8px;
    }

    .p_text_serv{
        width: 98%;
        margin-left: 5px;
    }

    .box3{
        width: 100%;
        height: 800px;
    }

    .pa_text_parrafo{
        margin-top: -35px;
    }

    .box4{
        width: 100%;
        height: 800px;
    }

    .img_4{
        margin-top: -120px;
    }

    .pa_text4{
        margin-top: -40px;
    }

    .pa_text_parrafo4{
        margin-top: -75px;
    }

    .box5{
        width: 100%;
        height: 800px;
    }

    .box6{
        width: 100%;
        height: 800px;
    }

    .box7{
        width: 100%;
        height: 800px;
    }
}